<div class="footer">
  <div class="footer-box">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-2 footer-left"> <a class="" [routerLink]="['']" [routerLinkActive]="['router-link-active']">Website Tinhoc11</a></div>
        <div class="col-12 col-sm-8 footer-ul">
          <ul>
            <li><a [routerLink]="['']" [routerLinkActive]="['router-link-active']">© Websitetinhoc11</a></li>
            <li><a [routerLink]="['']" [routerLinkActive]="['router-link-active']">Trang chủ</a></li>
            <li><a [routerLink]="['']" [routerLinkActive]="['router-link-active']">Bài giảng</a></li>
            <li><a [routerLink]="['']" [routerLinkActive]="['router-link-active']">Bài học</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-2 footer-ul footer-right">
          <ul>
            <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter " aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
