<div id="LoginForm" class="login">
  <div class="container">
    <div class="login-form">
      <div class="main-div">
        <div class="row">
          <div class="col-12 col-lg-4">
            <div class="panel">
              <h2>Log In to Codecademy</h2>
              <small style="color: red;">{{error}}</small>
            </div>
          </div>
        </div>
        <form id="Login" [formGroup]="LoginForm" (ngSubmit)="OnGetToken()">
          <div class="row">
            <div class="col-12 col-lg-4">
              <div class="form-group">
                <label for="">Email or username</label>
                <input type="username" class="form-control" id="username" formControlName="UserName" name="username" email required>
                <small *ngIf="LoginForm.get('UserName').invalid && LoginForm.get('UserName').touched"
                  class="text-muted">Email is errors</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-4">
              <div class="form-group">
                <label for="">Password</label>
                <input type="password" class="form-control" formControlName="Password" name="password"
                  id="inputPassword">
                <small *ngIf="LoginForm.get('Password').invalid && LoginForm.get('Password').touched"
                  class="text-muted">Pass is errors</small>
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-12 col-lg-4">
              <div class="forgot">
                <a href="#">I forgot my password</a>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="col-12 col-lg-4">
              <button type="submit" [disabled]="!LoginForm.valid" class="btn btn-primary btn-login">Login</button>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-4">
              <div class="sign-up-for-free">
                <a [routerLink]="['/signup']" [routerLinkActive]="['router-link-active']">Not a member yet? <span>Sign
                    up for free</span></a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>