<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Quản lý nhóm bài giảng</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Quản lý Nhóm bài giảng</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="row main-content-header">
              <div class="col-4">
                <h3 class="card-title">nhóm bài giảng</h3>
              </div>
              <div class="col-8 main-content-header-right">
                <span>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Tìm kiếm theo tên"
                    [formControl]="groupSyllabusSearch" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button (click)="searchGroupSyllabus()" class="btn btn-outline-secondary" type="button">Tìm
                        kiếm </button>
                    </div>
                  </div>
                </span>
                <span>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-outline-info btn-add" data-toggle="modal"
                    data-target="#exampleModal">
                    +Thêm
                  </button>
                </span>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body"  style="overflow: auto;height: calc(100vh - 234px);">
            <table id="example2" class="table table-bordered table-hover custom-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Tên nhóm bài giảng</th>
                  <th>Ngày tạo</th>
                  <th>Ngày cập nhật</th>
                  <th>Hành động</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let grSyllabus of groupSyllabuss">
                  <td>{{grSyllabus.id}}</td>
                  <td>{{grSyllabus.name}}</td>
                  <td>{{grSyllabus.created_at}}</td>
                  <td>{{grSyllabus.updated_at}}</td>
                  <td style="display: flex;justify-content: space-evenly;align-items: center;">
                    <button type="button" class="btn btn-outline-success" (click)="selectGroupSyllabus(grSyllabus)" data-toggle="modal"
                    data-target="#exampleModal-1">Sửa</button>
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                    data-target="#exampleModal-2" (click)="selectGroupSyllabus(grSyllabus)" >Xóa</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>

<!-- Modal -->
<form [formGroup]="groupSyllabusGroup">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thêm Nhóm Bài giảng</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="">Tên Nhóm</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="Nhập tên nhóm"
              aria-describedby="helpId" formControlName="name">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="createGroupSyllabus()">Thêm</button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Modal -->
<form [formGroup]="groupSyllabusGroup">
  <div class="modal fade" id="exampleModal-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-1"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel-1">Sửa Nhóm Bài giảng</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="">Tên Nhóm</label>
            <input type="text" name="sName" id="sName" class="form-control" placeholder="Nhập tên nhóm"
              aria-describedby="helpId" formControlName="name">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateGroupSyllabus()">Sửa</button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Modal -->
<form [formGroup]="groupSyllabusGroup">
  <div class="modal fade" id="exampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-2"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel-2">Xóa Nhóm Bài giảng</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="">Bạn có muốn xóa nhóm không </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteGroupSyllabus()">Xóa</button>
        </div>
      </div>
    </div>
  </div>
</form>
