<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý bài học</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Quản lý bài học</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin bài học</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputName1">Tên bài học</label>
                                    <input type="text" class="form-control" id="exampleInputName1"
                                        placeholder="Tên bài học">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputName2">Bài giảng</label>
                                    <input type="text" class="form-control" id="exampleInputName2"
                                        placeholder="Bài giảng 1">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputName3">Loại bài học</label>
                                    <input type="text" class="form-control" id="exampleInputName3"
                                        placeholder="Trắc nghiệm">
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputName4">Nội dung bài học</label>
                                  <textarea class="form-control" name="" id="" rows="3" placeholder="Nhập ..."></textarea>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-6">
                        <!-- general form elements -->
                        <div class="card card-dark">
                            <div class="card-header">
                                <h3 class="card-title">Bài tập</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form role="form">
                                <div class="card-body">
                                    <div class="form-group">
                                      <textarea class="form-control" name="" id="" rows="2" placeholder="Nhập ..."></textarea>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
            </div>
        </div>
    </section>
</div>