<div class="exercises-box">
  <div class="container-fluid">
    <div class="row" style="position: relative;">
        <div class="col-12 col-md-2 p-0 customTranform hiden show " id="hidden-main-left"
             style="position: absolute; left:0; z-index: 9999;">
            <div class="exercises-text">
                <div class="card">
                    <div class="card-header" style="background: #15141f;color: #fff;">
                        <div style="display: flex;justify-content: space-between;align-items: center;">
                            <div>
                                Menu
                            </div>
                            <i (click)="hiddenMainLeft();" class="fa fa-bars" aria-hidden="true" style="color:#fff;font-size: 23px;"></i>
                        </div>
                    </div>
                    <div class="scroll" id="style-4">
                        <div class="card-body" style="padding: 0;">
                            <div class="list-group">
                                <a class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                                <a class="list-group-item list-group-item-action">Morbi leo risus</a>
                                <a class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                                <a class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                            </div>
                            <div class="card-body">
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="col-12 col-md-4 p-0">
        <div class="exercises-text">
          <div class="card">
            <div class="card-header">
              <div style="display: flex;justify-content: space-between;align-items: center;">
                <i (click)="hiddenMainLeft();" class="fa fa-bars" aria-hidden="true"></i>
                <div>
                  Bài tập
                </div>
              </div>
            </div>
            <div class="scroll" id="style-4">
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">{{project.name_syllabus}}</h6>
                <h5 class="card-title">{{project.name}}</h5>
                <div class="card-body">
                  <p class="card-text" [innerHTML]="project.description"></p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 p-0" *ngIf="isCode">
        <div class="exercises-code" id="style-4">
          <div class="card border-custom">
            <div class="card-header">
              Khu vực code
            </div>
            <div class="scroll scroll-custom" id="style-4">
              <div class="form-group">
                <textarea class="form-control" name="" id="code-editor"></textarea>
              </div>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary" (click)="getCodeValue()">Run</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 p-0" *ngIf="isCode">
        <div class="exercises-show-code" id="style-4">
          <div class="card border-custom">
            <div class="card-header" style="background: #15141f; color: white">
              Đầu ra
            </div>
            <div class="scroll" id="style-4-2">
              <div class="card-body" style="background: #000; height:100%; color: white; white-space: pre-line;">
                <div *ngIf="error" style="color: red">{{error}}</div>
                <div>{{output}}</div>
                <div *ngIf="isError" style="color: green">Bạn đã code đúng rồi nhá :D Hãy qua bài mới nào</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8 p-0" *ngIf="!isCode">
        <div class="exercises-show-code" id="style-4">
          <div class="card border-custom">
            <div class="card-header">
              Trắc nghiệm
            </div>
            <div class="scroll" id="style-4">
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Danh sách câu hỏi</h6>
                <div style="padding: 20px;" *ngFor="let item of proExercises ; let i = index">
                  <h5 class="card-title">Câu {{i + 1}} : <small>{{item.title}}</small></h5>
                  <div class="form-check"
                       *ngFor="let items of item.answers | keyvalue ; let s = index">
                    <input class="form-check-input" type="radio" [attr.name]="'exampleRadios'+ i"
                           [value]="items.s" (change)="onSelectionChange(item, items.key)">
                    <label style="margin-left: 10px" class="form-check-label" for='exampleRadios1'>
                      <p>{{items.value}}</p>
                    </label>
                  </div>
                </div>
                <p *ngIf="correct">{{correct}}</p>
                <button type="button" class="btn btn-secondary" (click)="onsubmit()">Kiểm tra</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- <div class="row">
      <div class="col-12">
        <div class="footer-box-custom">
          <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
              <div class="btn-box">
                <button type="button" class="btn btn-outline-dark">Back</button>
                <span>19/20</span>
                <button type="button" class="btn btn-outline-dark">Next</button>
              </div>
            </div>
            <div class="col-4"></div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>