<div class="header">
  <div class="header-nav">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light nav-menu-custom">
        <a class="navbar-brand nav-brand-custom" href="#">Website Tin Học 11</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse nav-list-item" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Cassstalog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li> -->
          </ul>
          <form class="form-inline">
            <!-- <button class="btn btn-primary mr-sm-2 nav-form-btn-outline" type="submit">Upgrade to Pro</button>
            <button class="btn btn-primary mr-sm-2 nav-form-btn d-none" type="submit">Upgrade to Pro</button> -->
            <!-- <a class="mr-sm-2 nav-form-a">
                <fa-icon [icon]="faSearch"></fa-icon>
            </a> -->
            <a [routerLink]="['/login']" [routerLinkActive]="['router-link-active']"><button class="btn btn-primary mr-sm-2 nav-form-btn-login" type="submit">Login</button></a>
            <a [routerLink]="['/signup']" [routerLinkActive]="['router-link-active']"><button class="btn btn-primary my-sm-0 nav-form-btn" type="submit">SignUp</button></a> 
          </form>
        </div>
      </nav>
    </div>
  </div>
</div>
